{% extends 'base/main.html' %}
{% block content %}
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

    <script>
        {% for msg in messages %}
            swal("Popraw nazwę leku", "", "error");
        {% endfor %}
    </script>

    <div class="header-bar">
        <h3>Doodawanie leku do listy</h3>
        <a href="{% url 'medicines' %}">Powrót &#8594</a>
    </div>

    <div class="card-body">
        <form method="POST" action="">
            {% csrf_token %}
            {{ form.as_p }}
            <input class="button" type="submit" value="Zapisz">
        </form>
    </div>

{% endblock content %}
